/*Custom Colors*/
:root {
	--sailor-blue: #2e4a62;
	--darken: #1d1d1d;
	--dark-purple: #603cba;
	--metro-magenta: #ff0097;
	--metro-green: #00a300;
	--metro-light-purple: #9f00a7;
	--metro-yellow: #ffc40d;
	--metro-blue: #2d98ef;
	--metro-red: #ee1111;

}

body {
	color: whitesmoke;
	font-family: "Courier New", courier;
	background: var(--darken);
}


.neon {
	background-color: transparent;
}

.neon-box {
	background-color: transparent;
	border-radius: 2px;	
}

/* These button style overides to give neon effects */
[data-target="#myStoryCollapse"]{
	border-color: var(--metro-magenta);
	color: var(--metro-magenta);
}

[data-target="#myStoryCollapse"]:hover {
	background-color: transparent;
	border-color: var(--metro-magenta);
	font-weight: bold;
	border-width: 2.01px;
	color: var(--metro-magenta);
}

[data-target="#myStoryCollapse"]:focus {
	box-shadow: none;
}

#summary {
	background: var(--darken);
	margin-bottom: 0;
	border-radius: 0;
}

/* --Skill Bar Section-- */

/* Make sure that padding behaves as expected */
#barContainer {
	padding: 3rem;
	box-sizing:border-box
}

/* Skill Bar Styles */
.bar {
  width: 100%; /* Full width */
  height: 3px;
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  color: white; /* White text color */

}

.skill {
	height: inherit;
}

.skill-one {
	width: 77%; 
	background-color: var(--metro-green);
} 

.skill-two {
	width: 80%; 
	background-color: var(--metro-blue);
} 
.skill-three {
	width: 100%; 
	background-color: var(--metro-red);
} 

.skill-four {
	width: 100%; 
	background-color: var(--metro-yellow);
} 
