/*Custom Colors*/
:root {
	--sailor-blue: #2e4a62;
	--darken: #1d1d1d;
	--dark-purple: #603cba;
	--metro-magenta: #ff0097;
	--metro-green: #00a300;
	--metro-light-purple: #9f00a7;
	--metro-yellow: #ffc40d;
	--metro-blue: #2d98ef;
	--metro-red: #ee1111;

}

body {
	color: whitesmoke;
	font-family: "Courier New", courier;
	background: var(--darken);
}


/* These button style overides to give neon effects */
.neon {
	background-color: transparent;
	border-color: var(--metro-magenta);
	color: var(--metro-magenta);
}

.neon:hover {
	background-color: transparent;
	border-color: var(--metro-magenta);
	font-weight: bold;
	border-width: 2.01px;
	color: var(--metro-magenta);
}

.neon:focus {
	box-shadow: none;
}

#summary {
	background: var(--darken);
	margin-bottom: 0;
	border-radius: 0;
}

hr {
	background-color: var(--metro-magenta);
}