/* site colors */
:root {
	--metro-magenta: #ff0097;
	--black: #050505;
	--dark-grey: #181818;
	--grey: #9b9b9b;
	--dark-slate: #584b4f;
	--wheat: #eed9b7;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
.col img {
  max-width: inherit;
}

.preview-photo {
  width: 400px;
}

.preview-title {
  margin: .5em .5em; 
}

.preview-btn {
  margin: .5em .5em;
}

.page-header {
  background-color: var(--dark-grey);
  color: white;
  padding: .5rem 2rem;
}

.page-content {
  padding: 1rem 2rem;
}

.content-rule {
  margin-left: 25%;
}

/* -- Welcome Banner Styles -- */
.welcome-banner {
  position: relative;
	background-color: var(--dark-grey);
	color: var(--wheat);
}

pre {
  background-color: var(--dark-grey);
  color: var(--wheat);
}

.welcome-banner hr {
	border-color: wheat; 
}

#close-banner-btn {
  position: absolute;
  top: .5em;
  right: 1em;
  font-size: 1.2em;
}

#close-banner-btn:hover {
  cursor: pointer;
  color: var(--dark-slate);
}

#gradPic {
	max-height: 400px;
}

.progress {
	height: 2px;
}

#holder0, #holder1, #holder2, #holder3, #holder4, #holder5 {
	display: none;
}

/* Overwrite card styles */
.card-body {
	color: dimgray;
} 

.card-header, .card-body h5 {
	color: white;
	background-color: var(--dark-grey)
}

.card-body h5 {
	padding: .2rem .5rem;

}

/* -- Navbar Styling  -- */
#logoCenter {
    display: block;
    font-size: 1.5em;
}

#logoContainer {
  display: block; 
  background-color: var(--black);
 }

.custom-nav{
  position: fixed;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  width: 25%;
  height: 100%;
  overflow: auto;
}

.custom-nav h5 {
	display: inline-block;
	margin-left: 1rem;
}

.custom-nav li {
  border-left: 0;
  border-right: 0;
}


.section-link {
	list-style: none;
	/*background-color: var(--black) !important;
	color: var(--grey);*/
}

.section-link-highlight:hover {
	color: var(--metro-magenta);
	z-index: 100;
	-webkit-animation-name: spinborder; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  	animation-name: spinborder;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes spinborder {
  0% {
  	border-top-color: var(--metro-magenta);
  }

  25% {
  	border-right-color: var(--metro-magenta);
  }
  50% {
  	border-bottom-color: var(--metro-magenta);
  }
  75% {
  	border-left-color: var(--metro-magenta);
  }
  100% {
  	border-color: lightgrey;
  }
}

/* Standard syntax */
@keyframes spinborder {
  0% {
  	border-top-color: var(--metro-magenta);
  }

  25% {
  	border-right-color: var(--metro-magenta);
  }
  50% {
  	border-bottom-color: var(--metro-magenta);
  }
  75% {
  	border-left-color: var(--metro-magenta);
  }
  100% {
  	border-color: lightgrey;
  }
}